node_modules/
.DS_Store

# Frontend
frontend/.next
frontend/out
frontend/.env
frontend/.env.*

# Backend
backend/dist
backend/.env

# Contracts
contracts/target
contracts/.soroban

# Build & Cache
dist/
.npm
.eslintcache

.kiro/
issue.md
pr.md
checks.md